$mobile-widths-only: "(max-width: 767px)";
$tablet-widths: "(min-width: 768px)";
$tablet-widths-only: "(min-width: 768px) and (max-width: 991px)";
$laptop-widths: "(min-width: 992px)";
$desktop-widths: "(min-width: 1200px)";
$blue-color: #0bbfb9;