.slick {

  &-dots {
    bottom: -50px;

    li {
      margin-right: 5px;

      button {
        display: block;
        width: 10px;
        height: 10px;

        border: 1px solid #756e8e;
        @include border-radius(50%)
      }
      
      &.slick-active {
        button {
          background-color: $blue-color;
          border-color: $blue-color;
        }
      }
    }
  }
}