.title {
  position: relative;

  display: block;
  margin: 0;
  padding-bottom: 25px;
  margin-bottom: 25px;

  text-transform: uppercase;
  text-align: center;
  font-weight: 900;
  font-size: 1.67em;

  &::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;

    width: 35px;
    height: 2px;

    background-color: $blue-color;
    transform: translateX(-50%);
  }
}